//Radio Vertical


.radio-vert__desciption{
	color: $dark-grey;
	font-size: .75em;
	margin-bottom: 0;
}

.radio-vert{
	display: flex;
	margin-top: 4.5em;

	 //iphone 5
    @media (max-width: 350px) {
    	margin-top: 2.5em;
    }
}

.radio-vert__option {
	border: 1px solid $grey;
	margin-left: -1px;
	padding: .7em 0 .5em;
	width: 20.1%;
	display: flex;
    flex-direction: column;
    align-items: center;

	&:first-child{
		margin-left: 0;
	}

	input[type='radio'] {
		position: absolute;
		opacity: 0;

		+ .custom-input{
			margin: 1em 0 .4em;

			&:before {
				content: '';
			    background: $light-grey;
			    border-radius: 100%;
			    border: 1px solid $primary-color;
			    display: inline-block;
			    width: 1.25em;
			    height: 1.25em;
			    position: relative;
			    top: -0.1em;
			    vertical-align: top;
			    cursor: pointer;
			    text-align: center;
			    transition: all 250ms ease;
			}
		}
		&:checked {
			+ .custom-input {
				&:before {
					background-color: $primary-color;
          			box-shadow: inset 0 0 0 4px $light-grey;
				}
			}
		}
		&:focus {
			+ .custom-input {
				&:before {
					outline: none;
          			border-color: $primary-color;
				}
			}
		}
		&:disabled {
			+ .custom-input {
				&:before {
					box-shadow: inset 0 0 0 4px $light-grey;
			        border-color: darken($light-grey, 25%);
			       	background: darken($light-grey, 25%);
				}
			}
		}
		+ .custom-input {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}

.radio-vert--checked{
	border: 2px solid $primary-color;
}